In [40]:
import pandas as pd
import numpy as np

In [41]:
skipr=list(range(0,4))


HR_prices_2019=pd.read_excel(r"FILES/ELEKT/Day-ahead Prices_HR2019.xlsx",skiprows=skipr,usecols="A:B")
HR_prices_2020=pd.read_excel(r"FILES/ELEKT/Day-ahead Prices_HR2020.xlsx",skiprows=skipr,usecols="A:B")
HR_prices_2021=pd.read_excel(r"FILES/ELEKT/Day-ahead Prices_HR2021.xlsx",skiprows=skipr,usecols="A:B")

RS_prices_2019=pd.read_excel(r"FILES/ELEKT/Day-ahead Prices_RS2019.xlsx",skiprows=skipr,usecols="A:B")
RS_prices_2020=pd.read_excel(r"FILES/ELEKT/Day-ahead Prices_RS2020.xlsx",skiprows=skipr,usecols="A:B")
RS_prices_2021=pd.read_excel(r"FILES/ELEKT/Day-ahead Prices_RS2021.xlsx",skiprows=skipr,usecols="A:B")

In [42]:
RS_prices_2019

                MTU           BZN|RS
0               NaN  Day-ahead Price
1               NaN        [EUR/MWh]
2     00:00 - 01:00            69.51
3     01:00 - 02:00            51.08
4     02:00 - 03:00            34.03
...             ...              ...
9850  19:00 - 20:00            42.05
9851  20:00 - 21:00            39.08
9852  21:00 - 22:00            36.56
9853  22:00 - 23:00            36.12
9854  23:00 - 00:00            34.19

[9855 rows x 2 columns]

In [43]:
HR_prices_2019=HR_prices_2019[(HR_prices_2019["BZN|HR"].isna()==False)&(HR_prices_2019["MTU"].isna()==False)]
HR_prices_2020=HR_prices_2020[(HR_prices_2020["BZN|HR"].isna()==False)&(HR_prices_2020["MTU"].isna()==False)]
HR_prices_2021=HR_prices_2021[(HR_prices_2021["BZN|HR"].isna()==False)&(HR_prices_2021["MTU"].isna()==False)]


RS_prices_2019=RS_prices_2019[(RS_prices_2019["BZN|RS"].isna()==False)&(RS_prices_2019["MTU"].isna()==False)]
RS_prices_2020=RS_prices_2020[(RS_prices_2020["BZN|RS"].isna()==False)&(RS_prices_2020["MTU"].isna()==False)]
RS_prices_2021=RS_prices_2021[(RS_prices_2021["BZN|RS"].isna()==False)&(RS_prices_2021["MTU"].isna()==False)]

In [5]:
ext_market_2019=pd.concat([HR_prices_2019,RS_prices_2019],axis=1)
ext_market_2020=pd.concat([HR_prices_2020,RS_prices_2020],axis=1)
ext_market_2021=pd.concat([HR_prices_2021,RS_prices_2021],axis=1)

In [7]:
HR_prices_2020

                MTU BZN|HR
2     00:00 - 01:00  41.88
3     01:00 - 02:00  38.60
4     02:00 - 03:00  36.55
5     03:00 - 04:00  32.32
6     04:00 - 05:00  30.85
...             ...    ...
9877  19:00 - 20:00  59.78
9878  20:00 - 21:00  56.72
9879  21:00 - 22:00  52.44
9880  22:00 - 23:00  51.86
9881  23:00 - 00:00  52.26

[8784 rows x 2 columns]

In [7]:
ext_market_2019["Average market price, EUR/MWh"]=ext_market_2019[["BZN|HR","BZN|RS"]].astype(float).mean(axis=1)
ext_market_2020["Average market price, EUR/MWh"]=ext_market_2020[["BZN|HR","BZN|RS"]].astype(float).mean(axis=1)
ext_market_2021["Average market price, EUR/MWh"]=ext_market_2021[["BZN|HR","BZN|RS"]].astype(float).mean(axis=1)

In [8]:
ext_market_2019["Average market price, EUR/MWh"].fillna(method="bfill",inplace=True)
ext_market_2020["Average market price, EUR/MWh"].fillna(method="bfill",inplace=True)
ext_market_2021["Average market price, EUR/MWh"].fillna(method="bfill",inplace=True)

C:\Users\Ehlimana\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

https://transparency.entsoe.eu/transmission-domain/r2/dayAheadPrices/show?name=&defaultValue=false&viewType=TABLE&areaType=BZN&atch=false&dateTime.dateTime=24.03.2022+00:00|CET|DAY&biddingZone.values=CTY|10YHR-HEP------M!BZN|10YHR-HEP------M&resolution.values=PT60M&dateTime.timezone=CET_CEST&dateTime.timezone_input=CET+(UTC+1)+/+CEST+(UTC+2)

https://www.cropex.hr/hr/trgovanja/unutardnevno-trziste/rezultati-unutardnevnog-trzista.html

In [9]:
zeros = pd.DataFrame(0, index=np.arange(24),columns=ext_market_2019.columns)
ext_market_2019= pd.concat([ext_market_2019, zeros])
ext_market_2021= pd.concat([ext_market_2021, zeros])
print("8784 vrijednosti, zadnjih 24 su nule")

8784 vrijednosti, zadnjih 24 su nule

In [10]:
ext_market_2019.shape

(8784, 5)

In [11]:
pd.to_numeric(ext_market_2019["Average market price, EUR/MWh"]).to_csv(r'EnergyPLAN files\Electricity\Hourly\avex_market_price_2019.txt', index=False,header=0,decimal=",",sep=" ")
pd.to_numeric(ext_market_2020["Average market price, EUR/MWh"]).to_csv(r'EnergyPLAN files\Electricity\Hourly\avex_market_price_2020.txt', index=False,header=0,decimal=",",sep=" ")
pd.to_numeric(ext_market_2021["Average market price, EUR/MWh"]).to_csv(r'EnergyPLAN files\Electricity\Hourly\avex_market_price_2021.txt', index=False,header=0,decimal=",",sep=" ")

In [12]:
ext_market_2020["Average market price, EUR/MWh"].min()

-9.71

In [13]:
ext_market_2020["Average market price, EUR/MWh"].max()

168.8

In [14]:
ext_market_2020["Average market price, EUR/MWh"].mean()

38.519375569216805

In [44]:
HR_imp_exp_1=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020HR1.xlsx",skiprows=skipr,usecols="A:C")
HR_imp_exp_2=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020HR2.xlsx",skiprows=skipr,usecols="A:C")
HR_imp_exp_3=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020HR3.xlsx",skiprows=skipr,usecols="A:C")
HR_imp_exp_4=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020HR4.xlsx",skiprows=skipr,usecols="A:C")

In [45]:
HR_imp_exp_1=HR_imp_exp_1[(HR_imp_exp_1[HR_imp_exp_1.columns[1]].isna()==False)&(HR_imp_exp_1[HR_imp_exp_1.columns[2]].isna()==False)]
HR_imp_exp_2=HR_imp_exp_2[(HR_imp_exp_2[HR_imp_exp_2.columns[1]].isna()==False)&(HR_imp_exp_2[HR_imp_exp_2.columns[2]].isna()==False)]
HR_imp_exp_3=HR_imp_exp_3[(HR_imp_exp_3[HR_imp_exp_3.columns[1]].isna()==False)&(HR_imp_exp_3[HR_imp_exp_3.columns[2]].isna()==False)]
HR_imp_exp_4=HR_imp_exp_4[(HR_imp_exp_4[HR_imp_exp_4.columns[1]].isna()==False)&(HR_imp_exp_4[HR_imp_exp_4.columns[2]].isna()==False)]

In [46]:
HR_1=df = pd.concat([HR_imp_exp_1[HR_imp_exp_1.columns[1]],HR_imp_exp_2[HR_imp_exp_2.columns[1]], HR_imp_exp_3[HR_imp_exp_3.columns[1]],HR_imp_exp_4[HR_imp_exp_4.columns[1]]],axis=1)
HR_2=df = pd.concat([HR_imp_exp_1[HR_imp_exp_1.columns[2]],HR_imp_exp_2[HR_imp_exp_2.columns[2]], HR_imp_exp_3[HR_imp_exp_3.columns[2]],HR_imp_exp_4[HR_imp_exp_4.columns[2]]],axis=1)

In [47]:
HR_1=HR_1.drop(0,axis=0)
HR_2=HR_2.drop(0,axis=0)

In [48]:
HR_1["Import"]=HR_1[HR_1.columns[0:5]].astype(float).sum(axis=1)
HR_2["Export"]=HR_2[HR_2.columns[0:5]].astype(float).sum(axis=1)

In [49]:
HR_2["net"]=pd.to_numeric(HR_2["Export"])-pd.to_numeric(HR_1["Import"])

In [50]:
HR_1["Import"]

1       1064.0
2       1008.0
3        924.0
4        832.0
5        933.0
         ...
9876    1047.0
9877    1045.0
9878    1281.0
9879    1118.0
9880     803.0
Name: Import, Length: 8784, dtype: float64

In [32]:
HR_2

,BZN|HR > BZN|BA,BZN|HR > BZN|HU,BZN|HR > BZN|RS,BZN|HR > BZN|SI,Export,net
1,602,0,152,0,754.0,-310.0
2,494,0,160,88,742.0,-266.0
3,363,0,120,217,700.0,-224.0
4,279,0,90,280,649.0,-183.0
5,491,0,165,141,797.0,-136.0
...,...,...,...,...,...,...
9876,0,116,0,719,835.0,-212.0
9877,0,150,0,797,947.0,-98.0
9878,0,359,0,897,1256.0,-25.0
9879,0,374,0,817,1191.0,73.0
9880,0,275,0,721,996.0,193.0

In [33]:
 HR_prices_2020

                MTU BZN|HR
2     00:00 - 01:00  41.88
3     01:00 - 02:00  38.60
4     02:00 - 03:00  36.55
5     03:00 - 04:00  32.32
6     04:00 - 05:00  30.85
...             ...    ...
9877  19:00 - 20:00  59.78
9878  20:00 - 21:00  56.72
9879  21:00 - 22:00  52.44
9880  22:00 - 23:00  51.86
9881  23:00 - 00:00  52.26

[8784 rows x 2 columns]

In [52]:
price_el_2020_HR_net=pd.concat([HR_prices_2020["BZN|HR"],HR_2["net"]],axis=1)

In [56]:
price_el_2020_HR_net=price_el_2020_HR_net[(price_el_2020_HR_net[price_el_2020_HR_net.columns[0]].isna()==False)&(price_el_2020_HR_net[price_el_2020_HR_net.columns[1]].isna()==False)]

In [57]:
#Linear Regression Model
import statsmodels.api as sm
results_values = {
    "name": [],
    "price_elasticity": [],
    "price_mean": [],
    "quantity_mean": [],
    "intercept": [],
    "t_score":[],
    "slope": [],
    "coefficient_pvalue" : [],
}

x_value = price_el_2020_HR_net['BZN|HR'].astype(float)
y_value = price_el_2020_HR_net["net"].astype(float)
X = sm.add_constant(x_value)
model = sm.OLS(y_value, X)
result = model.fit()
    
    
    #(Null Hypothesis test) Coefficient with a p value less than 0.05
if result.f_pvalue < 0.05:
        
    rsquared = result.rsquared
    coefficient_pvalue = result.f_pvalue
    intercept, slope = result.params
    mean_price = np.mean(x_value)
    mean_quantity = np.mean(y_value)
    tintercept, t_score = result.tvalues
     
    #Price elasticity Formula
    price_elasticity = (slope)*(mean_price/mean_quantity)    
            
    #Append results into dictionary for dataframe
 
    results_values["price_elasticity"].append(price_elasticity)
    results_values["price_mean"].append(mean_price)
    results_values["quantity_mean"].append(mean_quantity)
    results_values["intercept"].append(intercept)
    results_values['t_score'].append(t_score)
    results_values["slope"].append(slope)
    results_values["coefficient_pvalue"].append(coefficient_pvalue)
results_values

{'name': [],
 'price_elasticity': [0.041422433243900866],
 'price_mean': [38.23443150766322],
 'quantity_mean': [-576.9653083046215],
 'intercept': [-553.0660013373266],
 't_score': [-2.5625962872918033],
 'slope': [-0.6250728996063352],
 'coefficient_pvalue': [0.01040651944055873]}

In [59]:
RS_imp_exp_1=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020RS1.xlsx",skiprows=skipr,usecols="A:C")
RS_imp_exp_2=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020RS2.xlsx",skiprows=skipr,usecols="A:C")
RS_imp_exp_3=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020RS3.xlsx",skiprows=skipr,usecols="A:C")
RS_imp_exp_4=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020RS4.xlsx",skiprows=skipr,usecols="A:C")
RS_imp_exp_5=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020RS5.xlsx",skiprows=skipr,usecols="A:C")
RS_imp_exp_6=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020RS6.xlsx",skiprows=skipr,usecols="A:C")
RS_imp_exp_7=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020RS7.xlsx",skiprows=skipr,usecols="A:C")
RS_imp_exp_8=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020RS8.xlsx",skiprows=skipr,usecols="A:C")
RS_imp_exp_9=pd.read_excel(r"FILES/ELEKT/Cross-Border Physical Flow_2020RS9.xlsx",skiprows=skipr,usecols="A:C")

In [60]:
RS_imp_exp_1=RS_imp_exp_1[(RS_imp_exp_1[RS_imp_exp_1.columns[1]].isna()==False)&(RS_imp_exp_1[RS_imp_exp_1.columns[2]].isna()==False)]
RS_imp_exp_2=RS_imp_exp_2[(RS_imp_exp_2[RS_imp_exp_2.columns[1]].isna()==False)&(RS_imp_exp_2[RS_imp_exp_2.columns[2]].isna()==False)]
RS_imp_exp_3=RS_imp_exp_3[(RS_imp_exp_3[RS_imp_exp_3.columns[1]].isna()==False)&(RS_imp_exp_3[RS_imp_exp_3.columns[2]].isna()==False)]
RS_imp_exp_4=RS_imp_exp_4[(RS_imp_exp_4[RS_imp_exp_4.columns[1]].isna()==False)&(RS_imp_exp_4[RS_imp_exp_4.columns[2]].isna()==False)]

RS_imp_exp_5=RS_imp_exp_5[(RS_imp_exp_5[RS_imp_exp_5.columns[1]].isna()==False)&(RS_imp_exp_5[RS_imp_exp_5.columns[2]].isna()==False)]
RS_imp_exp_5=RS_imp_exp_6[(RS_imp_exp_6[RS_imp_exp_6.columns[1]].isna()==False)&(RS_imp_exp_6[RS_imp_exp_6.columns[2]].isna()==False)]
RS_imp_exp_7=RS_imp_exp_7[(RS_imp_exp_7[RS_imp_exp_7.columns[1]].isna()==False)&(RS_imp_exp_7[RS_imp_exp_7.columns[2]].isna()==False)]
RS_imp_exp_8=RS_imp_exp_8[(RS_imp_exp_8[RS_imp_exp_8.columns[1]].isna()==False)&(RS_imp_exp_8[RS_imp_exp_8.columns[2]].isna()==False)]
RS_imp_exp_9=RS_imp_exp_9[(RS_imp_exp_9[RS_imp_exp_9.columns[1]].isna()==False)&(RS_imp_exp_9[RS_imp_exp_9.columns[2]].isna()==False)]

In [62]:
RS_1=df = pd.concat([RS_imp_exp_1[RS_imp_exp_1.columns[1]],RS_imp_exp_2[RS_imp_exp_2.columns[1]], RS_imp_exp_3[RS_imp_exp_3.columns[1]],RS_imp_exp_4[RS_imp_exp_4.columns[1]],RS_imp_exp_5[RS_imp_exp_5.columns[1]],RS_imp_exp_6[RS_imp_exp_6.columns[1]],RS_imp_exp_7[RS_imp_exp_7.columns[1]],RS_imp_exp_8[RS_imp_exp_8.columns[1]],RS_imp_exp_9[RS_imp_exp_9.columns[1]]],axis=1)
RS_2=df = pd.concat([RS_imp_exp_1[RS_imp_exp_1.columns[2]],RS_imp_exp_2[RS_imp_exp_2.columns[2]], RS_imp_exp_3[RS_imp_exp_3.columns[2]],RS_imp_exp_4[RS_imp_exp_4.columns[2]],RS_imp_exp_5[RS_imp_exp_5.columns[2]],RS_imp_exp_6[RS_imp_exp_6.columns[2]],RS_imp_exp_7[RS_imp_exp_7.columns[2]],RS_imp_exp_8[RS_imp_exp_8.columns[2]],RS_imp_exp_9[RS_imp_exp_9.columns[2]]],axis=1)

In [63]:
RS_1=RS_1.drop(0,axis=0)
RS_2=RS_2.drop(0,axis=0)

In [64]:
RS_1["Import"]=RS_1[RS_1.columns[0:5]].astype(float).sum(axis=1)
RS_2["Export"]=RS_2[RS_2.columns[0:5]].astype(float).sum(axis=1)

In [65]:
RS_2["net"]=pd.to_numeric(RS_2["Export"])-pd.to_numeric(RS_1["Import"])

In [67]:
price_el_2020_RS_net=pd.concat([RS_prices_2020["BZN|RS"],RS_2["net"]],axis=1)

In [68]:
price_el_2020_RS_net=price_el_2020_RS_net[(price_el_2020_RS_net[price_el_2020_RS_net.columns[0]].isna()==False)&(price_el_2020_RS_net[price_el_2020_RS_net.columns[1]].isna()==False)]

In [69]:
import statsmodels.api as sm
results_values = {
    "name": [],
    "price_elasticity": [],
    "price_mean": [],
    "quantity_mean": [],
    "intercept": [],
    "t_score":[],
    "slope": [],
    "coefficient_pvalue" : [],
}

x_value = price_el_2020_RS_net['BZN|RS'].astype(float)
y_value = price_el_2020_RS_net["net"].astype(float)
X = sm.add_constant(x_value)
model = sm.OLS(y_value, X)
result = model.fit()
    
    
    #(Null Hypothesis test) Coefficient with a p value less than 0.05
if result.f_pvalue < 0.05:
        
    rsquared = result.rsquared
    coefficient_pvalue = result.f_pvalue
    intercept, slope = result.params
    mean_price = np.mean(x_value)
    mean_quantity = np.mean(y_value)
    tintercept, t_score = result.tvalues
     
    #Price elasticity Formula
    price_elasticity = (slope)*(mean_price/mean_quantity)    
            
    #Append results into dictionary for dataframe
 
    results_values["price_elasticity"].append(price_elasticity)
    results_values["price_mean"].append(mean_price)
    results_values["quantity_mean"].append(mean_quantity)
    results_values["intercept"].append(intercept)
    results_values['t_score'].append(t_score)
    results_values["slope"].append(slope)
    results_values["coefficient_pvalue"].append(coefficient_pvalue)
results_values

{'name': [],
 'price_elasticity': [2.083066799746208],
 'price_mean': [39.00550836843901],
 'quantity_mean': [-316.86212000455424],
 'intercept': [343.1828422741314],
 't_score': [-53.04750016659457],
 'slope': [-16.92183975770857],
 'coefficient_pvalue': [0.0]}